/* Place CSS styles here */

h2{
  color: blue;
}

.button {
 color: aqua;
 background-color: rgb(87, 47, 230);
 border-radius: 8px;
 border: none;
 cursor: pointer;
 padding: 12px;
}

.button:hover,
.button:focus {
  background-color: yellow;
  }

.button:focus {
border: 1px solid #d3d136;
}


.button-small {
  color: rgb(242, 46, 216);
 }