/* Place CSS styles here */

h2{
  color: blue;
}

.button {
 color: aqua;
}

#container {
 color: rgb(171, 226, 43);
}

.button {
 background-color: rgb(87, 47, 230);
}

.button-small {
  color: rgb(242, 46, 216);
 }