/* Place CSS styles here */
/* Body */
body {
  background-color: rgb(218, 213, 239);
  font-family: 'Roboto', sans-serif;
  color:black
  font-size: 16px;
}

h1,
h2,
h3,
h4,

h1{
font-size: 32px;
text-shadow: 4px 4px 5px red;
text-align:left;
line-height: 1.5;
letter-spacing: 6px;
}

h2{
  color: blue;
  font-size: 28px;
}

h3{
  color:black;
  font-size: 18px;
}

p {
  font-size: 1rem;
}

.giraffe-color {
  color: aqua;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}


/* Style buttons */
.button {
 color: aqua;
 background-color: rgb(87, 47, 230);
 border-radius: 8px;
 border: none;
 cursor: pointer;
 padding: 12px;
 font-size: 1rem;
 font-weight: 300;
 text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

.button:hover,
.button:focus {
  background-color: rgb(96, 225, 135);
  }

.button:focus {
border: 1px solid #d3d136;
}

.button-small {
  color: rgb(10, 9, 10);
  background-color: rgb(162, 142, 234);
  border-radius: 16px;
  padding: 6px;
 }